@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif!important;
}
.clinics-main{
        display: flex;
        flex-direction: row;
        width: 100vw;
        // background: rgb(230, 157, 157);
}
.clinics-left{
    width: 15vw;
    background-color: red;
}
.clinics-right{
    width: 85vw;
}