.card_outer {
    border-radius: .75rem;
    padding: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 25vw;
    margin: .5rem;
    text-align: left;
}


.card_outer:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}