@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif!important;
}

.clinics-left-main{
    background: #f0f0f0;
    max-width: 58vw;
    width: 220px;
    border-right: 1px solid grey;
    height: 100%;
    min-height: 90vh;

    .clinics-left-container{
            display: flex;
            flex-direction: column;

        .clinics-left-top{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            
            // background: red;
            // min-height: 18vh;
            max-height: 17vh;
            h6{
                display: flex;
                margin-left: 30px; //reduce this margin in media query btw its not chat its me arun :)
                align-items: start;
                font-weight: bold;
            }

            .clinics-filter1{
                // background: rgb(244, 160, 160);
                overflow: scroll;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                // max-height: 150px;
                display: flex;
                flex-direction: column;

                position: relative; right: 10px; /// reduce this in media query too bro
                align-items:flex-end; 

                margin-top: 10px;
                

                .clinics-radio{
                        display: flex;
                        flex-direction: row;
                    .clinicsf1{
                        cursor: pointer;
                        margin-left: 2px;
                        margin-bottom: 4px;
                        // background: cyan;
                        flex-direction: row;
                        display: flex;
                        width: 140px;
                        margin-right: 5px;
                        text-transform: capitalize;
                    }
                }
            }
        }


        .clinics-left-bottom{
            // background: rgb(135, 135, 255);
            min-height: 72vh;
            max-height: 108vh;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            
            
            h6{
                display: flex;
                margin-left: 30px;
                align-items: start;
                font-weight: bold;
                margin-top: 10px;
            }

            .clinics-filter2{
                // background: rgb(244, 160, 160);
                overflow: scroll;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                display: flex;
                flex-direction: column;
                align-items:flex-end; 
                position: relative; right: -5px; /// reduce this in media query too bro
                margin-top: 10px;


                .clinicsf2{
                    // background: cyan;
                    flex-direction: row;
                    display: flex;
                    margin-bottom: 0;
                    margin-top: 10px;
                    width: 180px;
                    margin-right: 5px;
                    cursor: pointer;
                    text-transform: capitalize;
                    
                    margin-bottom: 4px;
                    input{
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1025px){
    .clinics-left-main{
        background: #f0f0f0;
        width: 180px;
        border-right: 1px solid grey;
        height: 100%;
        min-height: 90vh;
    
        .clinics-left-container{
                display: flex;
                flex-direction: column;
    
            .clinics-left-top{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                
                // background: red;
                // min-height: 18vh;
                max-height: 17vh;
                h6{
                    display: flex;
                    margin-left: 20px; //reduce this margin in media query btw its not chat its me arun :)
                    align-items: start;
                    font-weight: bold;
                    font-size: 14px;
                }
    
                .clinics-filter1{
                    // background: rgb(244, 160, 160);
                    overflow: scroll;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    // max-height: 150px;
                    display: flex;
                    flex-direction: column;
    

                    align-items:flex-end; 
    
                    margin-top: 10px;
                    position: relative;left: 30px;
                    
    
                    .clinics-radio{
                            display: flex;
                            flex-direction: row;
                        .clinicsf1{
                            cursor: pointer;
                            margin-left: 2px;
                            margin-bottom: 4px;
                            // background: cyan;
                            flex-direction: row;
                            display: flex;
                            width: 140px;
                            margin-right: 5px;
                            text-transform: capitalize;
                            font-size: 12px;
                        }
                    }
                }
            }
    
    
            .clinics-left-bottom{
                // background: rgb(135, 135, 255);
                min-height: 72vh;
                max-height: 108vh;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                
                
                h6{
                    display: flex;
                    margin-left: 20px;
                    align-items: start;
                    font-weight: bold;
                    margin-top: 10px;
                    font-size: 14px;
                }
    
                .clinics-filter2{
                    
                    position: relative; left: 30px; /// reduce this in media query too bro
                    margin-top: 10px;
    
    
                    .clinicsf2{
                        
                        margin-bottom: 0;
                        margin-top: 10px;
                        width: 170px;
                        margin-right: 5px;
                        cursor: pointer;
                        text-transform: capitalize;
                        font-size: 12px;
                        
                        margin-bottom: 0px;
                        input{
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 835px){
    .clinics-left-main{
        background: #f0f0f0;
        width: 140px;
        border-right: 1px solid grey;
        height: 100%;
        min-height: 90vh;
    
        .clinics-left-container{
                display: flex;
                flex-direction: column;
    
            .clinics-left-top{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                
                // background: red;
                // min-height: 18vh;
                max-height: 17vh;
                h6{
                    display: flex;
                    margin-left: 20px; //reduce this margin in media query btw its not chat its me arun :)
                    align-items: start;
                    font-weight: bold;
                    font-size: 10px;
                }
    
                .clinics-filter1{
                    // background: rgb(244, 160, 160);
                    overflow: scroll;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    // max-height: 150px;
                    display: flex;
                    flex-direction: column;
    

                    align-items:flex-end; 
    
                    margin-top: 10px;
                    position: relative;left: 10px;
                    
    
                    .clinics-radio{
                            display: flex;
                            flex-direction: row;
                        .clinicsf1{
                            cursor: pointer;
                            margin-left: 2px;
                            margin-bottom: 4px;
                            // background: cyan;
                            flex-direction: row;
                            display: flex;
                            width: 90px;
                            margin-right: 5px;
                            text-transform: capitalize;
                            font-size: 8px;
                        }
                    }
                }
            }
    
    
            .clinics-left-bottom{
                // background: rgb(135, 135, 255);
                min-height: 72vh;
                max-height: 108vh;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                
                
                h6{
                    display: flex;
                    margin-left: 20px;
                    align-items: start;
                    font-weight: bold;
                    margin-top: 10px;
                    font-size: 10px;
                }
    
                .clinics-filter2{
                    
                    position: relative; left: 0px; /// reduce this in media query too bro
                    margin-top: 10px;
    
    
                    .clinicsf2{
                        
                        margin-bottom: 0;
                        margin-top: 10px;
                        width: 110px;
                        margin-right: 5px;
                        cursor: pointer;
                        text-transform: capitalize;
                        font-size: 8px;
                        
                        margin-bottom: 0px;
                        input{
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}