* {
    margin: 0;
    padding: 0;
}

.Header_v2{
    margin: auto;
    width: 100vw;
    height: 65px;
    background: #005985;
    color: white;
    display: flex;
    flex-direction: row;

    .logo_v2{
        position: relative;
        left: 0px;
        // border: black solid 2px;
        margin: auto;
        cursor: pointer;
    }
}
.Header_v2_route{
    margin: auto;
    // background: blue;
    // border: black solid 2px;
    display: flex;
    h6{
        // border: black solid 2px;
        color: white;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;

        cursor: pointer;
    }
}
.Header_v2_search{
    margin: auto;
    // border: black solid 2px;
    position: relative;
    right: 20px;

    filter: brightness(1.5) contrast(1.5);
    img{
        // border: black solid 2px;
       
        margin: auto;
    }
    input {
        border: none;
        outline: none;  /* Remove blue border (outline) on click */
        width: 80px;
        background: none;
        color: white;
        margin-left: 3px;


        // background: red;
    }
    
    input:hover {
        border: none;
    }
    
    input:focus {
        outline: none;  /* Ensure no outline on focus */
    }
}