.Search_cont {
    width:10rem;
}

.dataResult {
    border-radius: 0px 0px 5px 5px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: hidden;
    z-index: 1000;
}

.dataResult a:hover {
    background-color: lightgrey;
}

.dataResult a{
    text-decoration: none;
}
.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}




.Search_out {
  

    display: flex;
    justify-content: center;
    align-items: center;
    width:10rem;
    height: 50px;
    padding-right:4rem;
    left: 5rem;
}
   

.Search_out_input {
   
    width: 10rem;
    border-style: none;
    height: 24.14px;
   color: #505050;
   font-family: Noto Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 21.79px;
  border: 1px solid black;
   
}

.Search_out_input:focus {
    outline: none;
}

.Search_out_button1,
.Search_out_button2 {
    border-radius: 5px;
    border-style: none;
    width: 200px;
   background: #005985;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    height: 65.83px;
    font-family: Sombra;
    text-align: center;
    cursor: pointer;
    line-height: 20.27px;
    /* margin-left: -3rem; */
    margin-right: -5rem;
}


.Search_out_button2 {
    display: none;
}
.Search_out_button1 {
    display: none;
}

