.pathy-container {
  /* margin-top: 2rem; */
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pathy-select {
  height: auto;
  width: 95%;
  background-image: url("../../../public/Images/greeninfographics-cropped.png");
  background-color: #f6f6f6;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 1rem;
  margin-top: 8rem;
}
.pathy-detail {
  height: auto;
  width: 90%;
}
.pahty-select-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 100px;
  flex-wrap: wrap;
  row-gap: 1rem;
  flex-direction: row;
}
.pathy-select-items {
  background-color: white;
  width: 200px;
  padding: 13px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 600;
}
.pathy-select-items:hover {
  color: white;
  background-color: #053b3f;
}

.pathy-detail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  /* margin-bottom: 10rem; */
}
.cardContainer {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.pathyEven {
  width: 80%;
  align-self: flex-start;
}

.pathyOdd {
  width: 80%;
  align-self: flex-end;
}

.cardContainer img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.pathy-right-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: start;
}
.pathy-right-title {
  font-size: 2.8rem;
  font-weight: bolder;
  color: black;
}
.pathy-right-disease p {
  margin-bottom: -0.1rem;
}
.pathy-right-disease-name-container {
  display: inline-block;
}
.pathy-right-disease-name {
  font-weight: bolder;
  transition: color 0.2s ease-out;
}
.pathy-right-disease-name:hover {
  color: blue;
}
.pathy-ring-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 43rem;
  width: 35rem;
  z-index: -1;
}
.pathy-ring-right {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 38rem;
  width: 30rem;
  z-index: -1;
}
.pathy-right-para {
  height: 100px;
  overflow-y: auto;
}
.pathy-right-para::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}
.pathy-right-para::-webkit-scrollbar {
  width: 0.5rem;
}
.pathy-right-para::-webkit-scrollbar-track {
  background: #dedddd;
  border-radius: 0.5rem;
}
.pathy-right-para::-webkit-scrollbar-thumb {
  background: #053b3f;
  border-radius: 0.5rem;
}
.pathy-right-para::-webkit-scrollbar-button {
  height: 100%;
}

.scrollToTopButton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.scrollToTopButton:hover{
  background-color: #053b3f;
}
.scrollToTopButton:hover i{
  color: white; 
  
}


.scrollToTopButton i {
  font-size: 20px;
}

@media screen and (max-width: 1150px) {
  .pathyEven,
  .pathyOdd {
    display: flex;
    justify-content: center;
    width: 25rem;
    align-self: center;
  }
  .pathy-detail {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0rem 1rem;
  }
  .cardContainer {
    flex-direction: column;
    border-radius: 40px;
    width: 100%;
  }
  .cardContainer img {
    border-radius: 1rem;
  }
  .pathy-right-title {
    text-align: center;
  }
  .pathy-ring-left {
    height: 30rem;
    width: 25rem;
  }
  .pathy-ring-right {
    height: 28rem;
    width: 25rem;
  }
}

@media screen and (max-width: 450px) {
  .pathy-select-subheading {
    font-size: large;
  }
  .pathy-select {
    padding: 1rem;
  }
  .pathy-detail {
    padding: 0rem 0.5rem;
  }
  .pathyEven,
  .pathyOdd {
    width: 100%;
  }
  .cardContainer {
    border-radius: 20px;
    width: 100%;
  }
  .cardContainer img {
    height: 130px;
    width: 130px;
  }
  .pathy-right-title {
    font-size: 2rem;
  }
}
