.adjusting_navbar{
    padding-right: 2rem;
}
.navbar{
    background-color: #053B3F;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* position:sticky; */
}
.navbar-logo{
    margin-left: 3vw;
    width: 11rem;
    height: 10vh;
}
.navbar-brand{
    color: #ffff;    
}

.underline{
    position: relative;
    text-decoration:none;
    display:inline-block;
    font-weight: bold;
}
.underline:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}
.underline:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}
.nav-link{
    color: #DBDEED;
    font-family: 'Noto Sans';
}


.dropdown-menu {
    position: fixed !important; /* Position the dropdown absolutely */
    top: 89px; /* Start it right below the header */
    left:0;
    width: 100vw;
    z-index: 1000; /* Ensure it appears above other elements */
    background-color: #fff; /*Adjust background color as needed
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); /* Add a subtle shadow */
    padding: 25px 0; /* Add some padding for visual clarity */
  }
  
  .dropdown-menu {
    /* Adjust top position to account for header height */
    top: your-header-height; /* Replace with actual height of your header */
  }
  

  .dropdown-item {
    font-size: medium;
    font-weight: 500;
    display: inline-block; /* Display items horizontally */
    width: 20%; /* Set width to accommodate 5 items per line */
    text-align: center; /* Center text within each item */
    margin-bottom: 15px; /* Add spacing between items */
  }
  
  .dropdown-item:hover {
    font-size: 17px;
    text-decoration: underline;
    text-decoration-color: 053B3F;
    text-decoration-thickness: 2px;
    
  }

  .dropdown-item,
  .dropdown-item:active {
    color:black !important;
    background-color: inherit !important;
}



@media screen and (max-width:768px) {
    .navbar-logo{
        margin-left: 1vw;
    }
}
