@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif!important;
    color: black;
}
.clinics-main-scroll{
    overflow: scroll;
    .clinic-heading{
        flex-direction: column;
        background: white;
        position: relative;
        top: 20px;
        color: #053B3F;
        // background: gold;
        width: 80vw;
    }

.clinics-card-main{
    background: white;
    width: 1200px;
    // border-left: 1px solid grey;
    overflow-y: scroll;
    height: 100%;
    height: 1050px;
    margin-top: 30px;
    
    padding-bottom: 20px;
   
    
    .clinics-card-container{
        display: flex;
        flex-direction: column;
        
        



       

        .clinics-cards{
            display: flex;
            flex-direction: column;
            width: 80vw;
            

            
                // background: rgb(110, 110, 216);
                

            .clinics-card{
                
                background: #f5f5f5;
                background-image: url("../../../../public/Images/green_ring.png");
                background-repeat: no-repeat;
                background-position: 73vw 0;
                display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 80vw;
            margin-top: 20px;
            border: 1px solid black;
            border-radius: 7px;
            height: 155px;
            margin-left: 25px;
            
                // background: rgb(169, 122, 122);
                .clinics-card-img{
                    display: flex;
                    border: 1px solid black;
                    height: 18vh;
                    width: auto;
                    margin-right: 20px;
                    margin-top: auto;
                    
                    margin-bottom: auto;
                    position: relative;right: 5px;
                    border-radius: 7px;
                    overflow: hidden;
                }
                .clinics-card-text{
                    // background: red;
                    width: 38vw;
                    margin-top: 20px;
                    // margin-bottom: auto;
                    text-align: left;
                    // position: relative;right: 40px;
                    h5{
                        text-transform: capitalize;
                        // background: blue;
                        font-size: 24px;
                    }
                    p{
                        position: relative;bottom: 5px;
                        color: grey;
                        // background: red;
                        font-size: 12px;
                        text-transform: capitalize;
                    }
                    // background: red;
                    .clinics-tag-more{
                        margin: 0 0 0 0;
                        padding: 0 0 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        padding: 2px 5px 2px 5px;
                        // background: red;
                        margin-top: 8px;
                        color:blue;
                        // background: red;
                        height: 15px;
                        min-width: 80px;
                        cursor: pointer;
                        position: relative;top: 0px;left: 5px;
                    }
                    .clinics-card-tags{
                        // background: green;
                        display: flex;
                        justify-content: start;
                        // width: 30vw;
                        height: 40px;
                        // background: blue;
                        overflow-x: scroll;
                        
                        // margin-top: 25px;
                        // margin-left: auto;
                        // margin-right: auto;
                        // overflow-x:scroll;
                        // scrollbar-width: 1px;
                        

                        .clinics-tag{
                            
                            background: white;
                            color: black;
                            border-radius: 15px;
                            padding: 1px 20px 3px 20px;
                            // margin: auto;
                            margin-left: 3px;
                            margin-top: 8px;
                            margin-bottom: 2px;
                            height: 25px;
                            border: 1px solid black;
                            text-transform: capitalize;
                            // margin-right: 5px;
                            position: relative;left: 10px;
                            

                        }
                    }
                }
                .clinics-card-summary{
                    // background: red;
                    width: 160px;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: 30px;

                    #clinic-summary-icon{
                        background: white;
                        padding: 4px 4px 4px 4px;
                        border-radius: 15px;

                    }

                    .clinics-s{
                        background: #053B3F;
                        color: white;
                        border-radius: 15px;
                        padding: 1px 20px 3px 20px;
                        margin: auto;
                        border: 1px solid black;
                        text-transform: capitalize;
                        margin-top: 15px;
                        // margin-right: 20px;
                        
                    }
                    .clinics-m{
                        background: #1CA822;
                        color: white;
                        border-radius: 15px;
                        padding: 1px 20px 3px 20px;
                        margin: auto;
                        border: 1px solid black;
                        text-transform: capitalize;
                        margin-top: 15px;
                        
                    }
                    
                }
            }
        }

    }

}
}
@media screen and (max-width: 1025px){

    .clinics-main-scroll{

        .clinic-heading{
            font-size: 30px;
        }
    
    .clinics-card-main{
       
        
        .clinics-card-container{
    
            .clinics-cards{

                .clinics-card{
                    
                    background-position: 70vw -1vh;
                    
                width: 80vw;
                height: 120px;
                
                    // background: rgb(169, 122, 122);
                    .clinics-card-img{
                        height: 80px;
                        width: 100px;
                        position: relative;right: 5px;
                        overflow: hidden;
                    }
                    .clinics-card-text{

                        width: 320px;
                        margin-top: 20px;

                        text-align: left;
                        position: relative;right: 10px;
                        h5{
                            font-size: 14px;
                        }
                        p{
                            position: relative;bottom: 5px;
                           
                            font-size: 8px;

                        }
                        // background: red;
                        .clinics-tag-more{
                           
                            padding: 2px 5px 2px 5px;
                            // background: red;
                            margin-top: 6px;
                            color:blue;
                            // background: red;
                            height: 15px;
                            min-width: 80px;
                            cursor: pointer;
                            position: relative;top: 0px;left: 5px;
                        }
                        .clinics-card-tags{
                            // background: green;
                            display: flex;
                            justify-content: start;
                            // width: 30vw;
                            height: 30px;
                            // background: blue;
                            overflow-x: scroll;
                            
                            // margin-top: 25px;
                            // margin-left: auto;
                            // margin-right: auto;
                            // overflow-x:scroll;
                            // scrollbar-width: 1px;
    
                            .clinics-tag{
                                
                                background: white;
                                color: black;
                                border-radius: 15px;
                                padding: 1px 20px 3px 20px;
                                // margin: auto;
                                margin-left: 1px;
                                margin-top: 8px;
                                margin-bottom: 2px;
                                height: 18px;
                                border: 1px solid black;
                                text-transform: capitalize;
                                // margin-right: 5px;
                                position: relative;left: 10px;
                                
    
                            }
                        }
                    }
                    .clinics-card-summary{
                        // background: red;
                        width: 120px;
                        margin-top: auto;
                        margin-bottom: auto;
    
                        #clinic-summary-icon{
                            background: white;
                            padding: 2px 2px 2px 2px;
                            border-radius: 15px;
    
                        }
    
                        .clinics-s{
                            background: #053B3F;
                            color: white;
                            border-radius: 15px;
                            padding: 1px 10px 3px 10px;
                            margin: auto;
                            border: 1px solid black;
                            text-transform: capitalize;
                            margin-top: 15px;
                            font-size: 12px;
                            
                        }
                        .clinics-m{
                            background: #1CA822;
                            color: white;
                            border-radius: 15px;
                            padding: 1px 10px 3px 10px;
                            margin: auto;
                            border: 1px solid black;
                            text-transform: capitalize;
                            margin-top: 15px;
                            font-size: 12px;
                            
                        }
                        
                    }
                }
            }
    
        }
    
    }
    }





}

@media screen and (max-width: 835px){

    .clinics-main-scroll{

        .clinic-heading{
            font-size: 30px;
        }
    
    .clinics-card-main{
       
        
        .clinics-card-container{
    
            .clinics-cards{

                .clinics-card{
                    
                    background-position: 68vw -1vh;
                    
                width: 80vw;
                height: 100px;
                
                    // background: rgb(169, 122, 122);
                    .clinics-card-img{
                        height: 80px;
                        width: 100px;
                        position: relative;left: 5px;
                        overflow: hidden;
                    }
                    .clinics-card-text{

                        width: 280px;
                        // margin-top: 4px;

                        text-align: left;
                        position: relative;right: 10px;
                        bottom: 16px;
                        h5{
                            font-size: 14px;
                        }
                        p{
                            position: relative;bottom: 5px;
                           
                            font-size: 8px;

                        }
                        // background: red;
                        .clinics-tag-more{
                           
                            padding: 2px 5px 2px 5px;
                            // background: red;
                            margin-top: 6px;
                            color:blue;
                            // background: red;
                            height: 15px;
                            min-width: 80px;
                            cursor: pointer;
                            position: relative;top: 0px;left: 5px;
                        }
                        .clinics-card-tags{
                            // background: green;
                            display: flex;
                            justify-content: start;
                            // width: 30vw;
                            height: 30px;
                            // background: blue;
                            overflow-x: scroll;
                            
                            // margin-top: 25px;
                            // margin-left: auto;
                            // margin-right: auto;
                            // overflow-x:scroll;
                            // scrollbar-width: 1px;
    
                            .clinics-tag{
                                
                                background: white;
                                color: black;
                                border-radius: 15px;
                                padding: 1px 20px 3px 20px;
                                // margin: auto;
                                margin-left: 1px;
                                margin-top: 8px;
                                margin-bottom: 2px;
                                height: 18px;
                                border: 1px solid black;
                                text-transform: capitalize;
                                // margin-right: 5px;
                                position: relative;left: 10px;bottom: 8px;
                                
    
                            }
                        }
                    }
                    .clinics-card-summary{
                        // background: red;
                        width: 120px;
                        margin-top: auto;
                        margin-bottom: auto;
    
                        #clinic-summary-icon{
                            background: white;
                            padding: 2px 2px 2px 2px;
                            border-radius: 15px;
    
                        }
    
                        .clinics-s{
                            background: #053B3F;
                            color: white;
                            border-radius: 15px;
                            padding: 1px 10px 3px 10px;
                            margin: auto;
                            border: 1px solid black;
                            text-transform: capitalize;
                            margin-top: 15px;
                            font-size: 12px;
                            
                        }
                        .clinics-m{
                            background: #1CA822;
                            color: white;
                            border-radius: 15px;
                            padding: 1px 10px 3px 10px;
                            margin: auto;
                            border: 1px solid black;
                            text-transform: capitalize;
                            margin-top: 15px;
                            font-size: 12px;
                            
                        }
                        
                    }
                }
            }
    
        }
    
    }
    }





}