* {
    margin: 0;
    padding: 0;
}

.extraspace{
    height: 90px;
    width: 100%;
}
.Home_v2_first_main{

    display: flex;
    flex-direction: column;

    h1{
        margin: auto;
        margin-top: 80px;
        font-weight: bolder;
    }
    h6{
        // margin: auto;
        margin-top: 15px;

        
    }
    .img_main{
        // width: 1812px;
        // height: 448px;
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 70px;
        position: relative;
        // right: 200px;
        background-repeat: no-repeat;
        
    }

    // .search_box_v2{
    //     background: red;
    //     width: 100px;
    // }
}

.Home_v2_first_search{
    display: inline;
    // background: red;
    border: black 1px solid;
    width: 576px;
    height: 61px;
    font-size: smaller;
    margin: auto;
    border-radius: 20px;
    text-align: left;
    padding: 3px;
    color: black;
    margin-top: 30px;
    // .Home_v2_search_box{
    //     background: red;
        
    // }

    img{
        // margin: auto;
        // margin-top: auto;
        // border: black 2px solid;
        // position: relative;
        // right: 120px;
        // opacity: 1000%;
        // background: whitesmoke;
        // margin-top: 5px;
        margin-left: 20px;
    }
    button{
        // margin: auto;
        background-color: #005985;
        color: white;
        height: 51px;
        width: 149px;
        border: black 1px thin; 
        border-radius: 20px;
        position: relative;
        margin-top: 1px;
        left: 30px;
        font-weight: bold;
        cursor: pointer;

    }
    input {
        border: none;
        outline: none;  /* Remove blue border (outline) on click */
        // margin: auto;
        position: relative;
        left: 15px;
        height: 30px;
        width: 350px;


        // background: red;
    }
    
    input:hover {
        border: none;
    }
    
    input:focus {
        outline: none;  /* Ensure no outline on focus */
    }
    
}

// .hfp_outer{
//     border-radius: unset;
//     margin-top: 5.5rem;
//     padding: 8rem 0rem 0rem 0rem;
//     width: 100vw;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     background-color:#E9FFFF;
//     border-bottom-right-radius: 20rem;
//     border-top-right-radius: 20rem;
    
// }

// .hfp_outer_right{
//     width: 40vw;
// }

// .hfp_outer_left{
//     /* padding: 2rem; */
//     text-align: left;
//     width: 50vw;
// }

// .hfp_outer_right img{
//     width: 37vw;
// }

// .hfp_outer_left span{
//     font-family: 'Noto Sans';
//     font-style: normal;
//     font-weight: 400;
//     font-size: large;
//     color: #505050;
// }

// .hfp_outer_left h1{
//     font-family: 'Sombra';
//     font-weight: 700;
//     color: #000000;;
// }

// .hfp_outer_left h3{
//     font-family: 'Sombra';
//     font-style: normal;
//     font-weight: 700;
//     color: #5A3636;
// }

// .hfp_outer_left_searchbar{
//     margin-top: 1.3rem;
//     // width: 47vw;
//     // background: blue;
//     border-radius: black 2px solid;
    
// }

// .hfp_outer_left_searchbar input{
//     width: 72%;
//     background: red;
// }


// @media screen and (max-width: 768px){
//     .hfp_outer{
//         /* margin-top: 1rem; */
//         padding: 1rem 0rem 2rem 0rem;
//         width: 100vw;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         border-radius: 0;
//     }
//     .hfp_outer_left{
//         padding-top: 1rem;
//         text-align: left;
//         width: 90vw;
//     }
//     .hfp_outer_right{
//         width: 100vw;
//     }
//     .hfp_outer_right img{
//         width: 70vw;
//     }
//     .hfp_outer_left_searchbar{
//         width:88vw;
        
//     }
//     .hfp_outer_left span{
//         font-family: 'Noto Sans';
//         font-size: small;
//         font-weight: 400;
//         color: #505050;
//     }
//     .hfp_outer_left h1{
//         font-size: xx-large;
//         font-family: 'Sombra';
//         font-weight: 700;
//         color: #000000;;
//     }
//     .hfp_outer_left h3{
//         font-size: x-large;
//         color: #5A3636;
//         font-weight: 700;
//     }
// }

// @media screen and (max-width: 500px){
//     .hfp_outer_right img{
//         width: 90vw;
//     }
// }


