.bookcard_outer {
    border-radius: .75rem;
    padding: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    margin: .5rem;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.bookcard_outer:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bookcard_image {
    width: 10vw;
    height: auto;
    margin-right: 1rem;
    border-radius: .5rem;
}

.buynow_button {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    background-color: rgb(245, 159, 0);
    color: white;
    padding: .25rem .5rem .25rem .5rem;
    border-radius: .25rem;
}

.buynow_button:hover, .buynow_button:active {
    color: white;
    text-decoration: none;
}